body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #996633;
    color: #333;
}
header {
    background-color: #996633;
    color: #fff;
    padding: 20px;
    text-align: center;
}
section {
    padding: 20px;
    text-align: center;
}
h1 {
    color: #72370c;
}
h2 {
    color: #72370c;
}
h3 {
    color: #4cbb17;
}
h4 {
    color: #996633;
}
h6 {
    color: #72370c;
}
p {
    color: #72370c;
    margin-bottom: 10px;
}
footer {
    background-color: #996633;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
hr {
    color: #72370c;
}
b {
    color: chartreuse;
}
button {
    background-color:#72370c;
    border: none;
}